


.section {
    width: 100%;
    min-height: 100vh;
}



.remove-hover-underline:hover {
    text-decoration: none;
    background-color: var(--light);
}


.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-hover { 
    border-bottom: .4rem solid transparent;
}
.product-hover:hover {
    border-bottom: .4rem solid var(--primary);
    box-shadow: 0 0.5rem 1rem #00000026 !important;
}


.cursor-default {
    cursor: default;
}

.c-menu-option {
    display: none;
}
.c-menu-button:hover + .c-menu-option, .c-menu-option:hover {
    display: inline-block;
    width: 20vw;
}